<% if User.current.allowed_to?(:edit_issue_author, @project) && !@issue.new_record? %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <label for="issue_author_id"><%= l(:field_author) %><span class="required"> *</span></label>
        <%= select_tag('issue[author_id]', options_from_collection_for_select(@issue.all_users.collect, 'id', 'name', @issue.author_id) ) %>
      </p>
    </div>
  </div>
  <%= render(:parent) %>
<% else %>
  <%= render(:parent) %>
<% end %>
